<head>
<style>
p { border-style:solid; border-color:#287EC7; font-size: 40px}
</style>

</head>

<h1> The Arena </h1>
<font size="80"><%= @game.player1.name %></font> <br>
<p><%= @game.player1.hitpoints %></p>HP<br>
<form action="/attack1">
<input type="submit" id="player1attack" value="Attack">
</form>
<!-- <button type="button" name="attackplayer1" value="Attack"></button> -->
<br>
<br>
<br>
<font size="80"><%= @game.player2.name %></font><br>
<p><%= @game.player2.hitpoints %>HP</p>
<form action="/attack2">
<input type="submit" id="player2attack" value="Attack">
</form>
<!-- <button type="button" name="attackplayer2" value="Attack"></button> -->
<!-- <input type="button" name="attackplayer2" value="Attack"> -->
<!-- </form> -->
