<head>
<style>
p { border-style:solid; border-color:#287EC7; font-size: 40px}
</style>

</head>

<h1> The Arena </h1>
<%= @player1name %> <br>
<p><%= @hitpoints %><br></p>
<%= @player2name %><br>
<p><%= @hitpoints %></p>
